.table {
  white-space: nowrap;
}

.input-xs {
  height: 22px;
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
}

.log {
  overflow: auto;
  white-space: pre;
  word-wrap: normal;
}
.log code {
  white-space: pre;
}
