<div class="console" ng-class="{open: shown}">
  <div class="console-panel">
    <div class="console-wrapper" app-scroll="process.log">
      <div class="container">
        <pre class="log"><code>{{process.log}}</code></pre>
      </div>
    </div>
    <a ng-click="hide(true)" class="close">&times;</a>
  </div>
  <div class="console-opener">
    <a class="btn btn-default btn-xs" title="Open console panel" ng-click="show(true)"><span class="glyphicon glyphicon-chevron-up"></span></a>
  </div>
</div>
