<div class="navigation" ng-class="{open: shown}">
  <a class="toggle-button" ng-click="show()">
    <span class="glyphicon glyphicon-menu-hamburger"></span>
  </a>
  <a ng-click="hide()" class="close">&times;</a>
  <div class="app-title">bower-browser</div>
  <ul class="menu">
    <li ui-sref-active="active">
      <a ui-sref="home"><span class="glyphicon glyphicon-home"></span> My project</a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="search.results"><span class="glyphicon glyphicon-search"></span> Packages</a>
    </li>
    <li ui-sref-active="active">
      <a ui-sref="settings"><span class="glyphicon glyphicon-cog"></span> Settings</a>
    </li>
  </ul>
  <ul class="menu menu-condensed menu-bottom">
    <li>
      <a href="http://bower.io/" app-new-tab="config.newTab"><span class="glyphicon glyphicon-chevron-right"></span> Bower</a>
    </li>
    <li>
      <a href="http://bower.io/search/" app-new-tab="config.newTab"><span class="glyphicon glyphicon-chevron-right"></span> Official Bower search</a>
    </li>
    <li>
      <a href="https://github.com/rakuten-frontend/bower-browser" app-new-tab="config.newTab"><span class="glyphicon glyphicon-info-sign"></span> bower-browser project</a>
    </li>
  </ul>
</div>
