<h1 class="page-title">Settings</h1>
<div class="settings-section">
  <h2>Search</h2>
  <div class="form-group" ng-class="{'has-error': settings.hasSearchFieldWarning()}">
    <label class="control-label">Search target fields</label>
    <div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="config.searchField.name"> Package name</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="config.searchField.owner"> Owner</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="config.searchField.description"> Description</label>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="config.searchField.keyword"> Keywords</label>
      </div>
      <p class="help-block" ng-if="settings.hasSearchFieldWarning()">Check at least one, or your search will not match any packages.</p>
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Search results</label>
    <div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="config.exactMatch"> Prioritize exact match with keyword</label>
        <span class="glyphicon glyphicon-question-sign tip-icon" app-popover data-trigger="hover" data-placement="top" data-content="When you search &quot;angular&quot;, show the package named &quot;angular&quot; in the first place regardless of sort order."></span>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="config.ignoreDeprecatedPackages"> Do not show improper packages and duplications - <strong>recommended</strong></label>
        <span class="glyphicon glyphicon-question-sign tip-icon" app-popover data-trigger="hover" data-placement="top" data-content="Exclude incompatible packages with Bower (e.g. linux) and unofficial name entries (e.g. angulerjs) from the search results."></span>
      </div>
      <div class="checkbox">
        <label><input type="checkbox" ng-model="config.newTab"> Open external links in new tab</label>
      </div>
    </div>
  </div>
</div>
<div class="settings-section">
  <h2>Bower</h2>
  <div class="form-group">
    <label class="control-label">Default options of installation</label>
    <div>
      <input type="text" class="form-control input-sm" ng-model="config.defaultInstallOptions" ng-model-options="{updateOn: 'blur'}">
    </div>
  </div>
  <div class="form-group">
    <label class="control-label">Default target version of installation</label>
    <div>
      <input type="text" class="form-control input-sm" value="" placeholder="Latest version" ng-model="config.defaultInstallVersion" ng-model-options="{updateOn: 'blur'}">
    </div>
  </div>
</div>
<div class="settings-section">
  <h2>Reset settings</h2>
  <div class="form-group">
    <p>Restore all settings to their defaults.</p>
    <div>
      <a class="btn btn-default btn-sm" ng-click="settings.reset()">Reset settings</a>
    </div>
  </div>
</div>
