@import url("//fonts.googleapis.com/css?family=Open+Sans:600,400");

// Bower brand colors
// http://bower.io/docs/about/#colors
$bower-dark-brown: #543729;
$bower-red: #ef5734;
$bower-gold: #ffcc2f;
$bower-green: #2baf2b;
$bower-blue: #00acee;
$bower-light-gray: #cecece;

// Bootstrap config
$gray-dark: $bower-dark-brown;
$gray-light: #b2a49d;
$brand-primary: $bower-red;
$body-bg: #fcfcfc;
$link-color: darken($bower-blue, 5%);
$link-hover-color: darken($link-color, 10%);
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 13px;
$font-size-small: 12px;
$font-size-h2: floor(($font-size-base * 2));
$headings-font-weight: 600;
$icon-font-path: "/assets/fonts/";
$padding-base-vertical: 5px;
$padding-base-horizontal: 10px;
$padding-large-vertical: 6px;
$padding-large-horizontal: 12px;
$padding-small-vertical: 2px;
$padding-small-horizontal: 7px;
$padding-xs-vertical: 1px;
$padding-xs-horizontal: 5px;
$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$btn-default-color: $bower-dark-brown;
$btn-default-bg: #eaeaea;
$input-bg-disabled: #f0f0f0;
$input-color: $bower-dark-brown;
$input-border-focus: darken($bower-gold, 10%);
$input-color-placeholder: $gray-light;
$cursor-disabled: default;
$dropdown-link-hover-color: #fff;
$dropdown-link-hover-bg: $bower-red;
$pagination-color: $bower-dark-brown;
$pagination-hover-color: $pagination-color;
$tooltip-color: #f5e7e0;
$tooltip-bg: $bower-dark-brown;
$tooltip-opacity: 1;
$popover-bg: $bower-gold;
$popover-border-color: $bower-gold;
$popover-fallback-border-color: darken($bower-gold, 10%);
$close-text-shadow: none;
$headings-small-color: #897266;

@import "bootstrap-sass/assets/stylesheets/_bootstrap";

// Application variables
$navi-width: 220px;
$content-min-width: $container-tablet;
$content-max-width: $container-large-desktop - $navi-width;
$console-height: 320px;
$toggle-button-size: 30px;

// Override and extend Bootstrap styles
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

.form-control{
  transition: border-color ease-in-out 0.1s, box-shadow ease-in-out 0.1s;
  &:focus {
    border-color: darken($input-border-focus, 5%);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 2px rgba($input-border-focus, 0.6);
  }
  &[readonly] {
    background-color: #fff;
  }
}

.control-label {
  display: block;
}

.btn {
  border-radius: 2px;
  transition-property: background-color;
  transition-duration: 0.1s;
}

.btn-default {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.close {
  opacity: 0.3;
  &:hover,
  &:focus {
    opacity: 0.6;
  }
}

.table {
  table-layout: fixed;
  white-space: nowrap;
  th,
  td {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.pagination {
  > li {
    > a,
    > span {
      margin-left: 3px;
    }
  }
}

.dropdown-menu {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.popover {
  font-size: $font-size-small;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

// Components
.toggle-button {
  display: block;
  width: $toggle-button-size;
  height: $toggle-button-size;
  line-height: $toggle-button-size;
  border-radius: 50%;
  text-align: center;
  background-color: $bower-gold;
  cursor: pointer;
  transform: translate(0, 0);
  transition-property: transform;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
  .open & {
    transition-delay: 0s;
  }
  .glyphicon {
    color: lighten($bower-dark-brown, 15%);
    transition-property: color;
    transition-duration: 0.1s;
  }
  &:hover,
  &:focus {
    .glyphicon {
      color: $bower-dark-brown;
    }
  }
}

// Layout
html {
  -ms-overflow-style: scrollbar;
}

.layout {
  padding-left: $navi-width;
  @media (max-width: $screen-sm-max) {
    padding-left: 0;
  }
}

.navigation {
  position: fixed;
  top: 0;
  left: $navi-width;
  bottom: 0;
  z-index: 10;
  width: $navi-width;
  margin-left: - $navi-width;
  background-color: $bower-gold;
  transition-property: left;
  transition-duration: 0.3s;
  @media (max-width: $screen-sm-max) {
    left: 0;
    &.open {
      left: $navi-width;
      box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.content {
  min-width: $content-min-width;
  max-width: $content-max-width;
  margin: 0 auto;
  padding: 30px $grid-gutter-width;
}

// Navigation
.navigation {
  .toggle-button,
  .close {
    display: none;
  }
}
@media (max-width: $screen-sm-max) {
  .navigation {
    .toggle-button {
      display: block;
      position: fixed;
      top: 8px;
      left: 8px;
    }
    &.open .toggle-button {
      transform: translate(- ($toggle-button-size + 10px), 0);
    }
    .close {
      display: block;
      position: absolute;
      top: 8px;
      right: 12px;
    }
  }
}

.app-title {
  padding: 25px 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: default;
}

.menu {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
  > li > a {
    display: block;
    padding: 8px 20px;
    text-decoration: none;
    color: lighten($bower-dark-brown, 15%);
    transition-property: color, background-color;
    transition-duration: 0.1s;
    &:hover,
    &:focus {
      color: $bower-dark-brown;
    }
  }
  > li.active > a {
    color: #fff;
    background-color: $bower-red;
  }
  .glyphicon {
    margin-right: 6px;
  }
}

.menu-condensed {
  font-size: $font-size-small;
  > li > a {
    padding-top: 4px;
    padding-bottom: 4px;
  }
}

.menu-bottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
}

// Content
.page-title {
  margin-top: -5px;
  margin-bottom: 20px;
  color: $bower-green;
  small {
    color: lighten($bower-green, 15%);
  }
}

.message {
  margin-top: 50px;
  margin-bottom: 50px;
  text-align: center;
  p {
    margin-bottom: 25px;
  }
}

// Home
.reload {
  .glyphicon {
    transition-property: transform;
  }
  &:active .glyphicon {
    transform: rotate(-360deg);
    transition-duration: 0s;
  }
  &:not(:active) .glyphicon {
    transition-duration: 0.5s;
  }
}

.home-action {
  margin-top: 35px;
  margin-bottom: 35px;
  .btn {
    margin-right: 5px;
  }
}

// Search
.search-field {
  position: relative;
  margin-bottom: 25px;
  .form-control {
    padding-left: 32px;
  }
  .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: $input-height-large;
    height: $input-height-large;
    line-height: $input-height-large;
    text-align: center;
    opacity: 0.7;
    pointer-events: none;
  }
}

.search-results {
  margin-top: 25px;
  margin-bottom: 25px;
}

.count {
  height: $input-height-base;
  line-height: $input-height-base;
}

.dropdown-check {
  .glyphicon {
    margin-left: -7px;
    margin-right: 8px;
    opacity: 0;
  }
  .checked .glyphicon {
    opacity: 1;
  }
}

// Search results
.results {
  margin-top: 15px;
  margin-bottom: 15px;
  border-top: 1px solid $hr-border;
}

.result {
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid $hr-border;
  .title {
    margin-top: 2px;
    font-size: 22px;
  }
  .description {
    font-size: 14px;
  }
  .misc {
    font-size: $font-size-small;
    a {
      color: $gray-light;
      &:hover,
      &:focus {
        color: darken($gray-light, 15%);
      }
    }
  }
  .list-inline {
    margin-bottom: 3px;
  }
}

.result-action {
  $button-width: 90px;
  $dropdown-width: 18px;
  float: right;
  min-width: 260px;
  &.dependency {
    .form-control {
      padding-right: 90px;
    }
  }
  &.dev-dependency {
    .form-control {
      padding-right: 110px;
    }
  }
  .form-control {
    text-overflow: ellipsis;
    font-size: $font-size-small;
  }
  .form-control-feedback {
    right: 10px;
    width: auto;
    font-size: 11px;
    color: $bower-green;
  }
  .btn {
    height: $input-height-base;
    font-size: $font-size-small;
  }
  .btn-single,
  .btn-multiple {
    padding-left: 5px;
    padding-right: 5px;
  }
  .btn-single {
    min-width: $button-width;
  }
  .btn-multiple {
    min-width: $button-width - $dropdown-width + 1;
  }
  .btn.dropdown-toggle {
    width: $dropdown-width;
    padding-left: 0;
    padding-right: 0;
  }
}

.input-group-inner {
  display: table-cell;
  position: relative;
}

// Settings
.settings-section {
  margin-bottom: 25px;
  .form-control {
    max-width: 320px;
  }
}

.tip-icon {
  top: 2px;
  margin-left: 5px;
  cursor: default;
}

// Console panel
.console {
  .toggle-button {
    position: fixed;
    right: 8px;
    bottom: 8px;
    z-index: $zindex-navbar-fixed - 1;
  }
  &.open .toggle-button {
    transform: translate(0, $toggle-button-size + 10px);
  }
}

.console-panel {
  $color: #cfbdb5;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $zindex-navbar-fixed;
  overflow: hidden;
  color: $color;
  background-color: rgba(darken($bower-dark-brown, 12%), 0.9);
  transform: translate(0, 100%);
  transition-property: box-shadow, transform;
  transition-duration: 0.3s;
  ::selection {
    color: lighten($color, 15%);
    background-color: rgba(255, 255, 255, 0.18);
  }
  .open & {
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    transform: translate(0, 0);
  }
  pre {
    color: inherit;
  }
  .close {
    position: absolute;
    top: 10px;
    right: 12px;
    color: $color;
    opacity: 0.7;
    &:hover,
    &:focus {
      opacity: 1;
    }
  }
}

.console-wrapper {
  overflow-y: scroll;
  height: $console-height;
  margin-right: -100px;
  padding-right: 100px;
}

.console-container {
  padding-left: $grid-gutter-width;
  padding-right: $grid-gutter-width;
}

.log {
  margin: 0;
  padding: 30px 0px;
  border: 0;
  border-radius: 0;
  white-space: pre;
  word-wrap: normal;
  background: none;
}
